body {
    height: 100vh;
    background-color: #0A0A23;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    overflow-y: hidden;
}

.mainbox {
    display: flex;
    height: screen;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-input {
    height: 30px;
    width: 250px;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #5a01a7;
}

.palindrome-div {
    width: min(100vw, 450px);
    min-height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px 0;
    background-color: white;
    box-shadow: 0 6px 6px #002ead;
}

#check-btn {
    width: 90px;
    border: none;
    padding: 10px;
    border-radius: 15px;
    background-color: #5a01a7;
    color: #fff;
    cursor: pointer;
}

#result {
    overflow-y: auto;
    word-wrap: break-word;
    min-height: 50px;
    color: black;
    margin-top: 20px;
    font-size: larger;
}